<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Basado en un diseño de Free CSS Templates
==============================
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : EarthlingTwo  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090918
==============================

Modificado por:
SIR - Soluciones Integrales Roraima Caracas - Venezuela Copyright©2011
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>SUGU - Sistema Universal de Gestión Universitaria by SIR</title>
<link href="../resources/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<a href="/home/"<img src="" alt="" /></a>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><a href="#">Universidades</a></li>
			<li><a href="#">Carreras</a></li>
			<li><a href="#">Profesores</a></li>
            <li><a href="#">Departamentos</a></li>
            <li><a href="#">Materias</a></li>
            <li><a href="#">Agrupaciones</a></li>
            <li><a href="#">Estudiantes</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="content">
          <!--
			<div id="banner"><img src="../resources/images/img07.jpg" alt=""/></div>
            -->
			<div class="post">
				<h2 class="title"><a href="#">Nombre de la Clase Consultada</a></h2>
				<p class="meta">Frase corta descriptiva de la clase</p>
				<div class="entry">
					<p>AQUI SE DEBEN PONER LAS SALIDAS DE LA INTERFAZ</p>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Otras operaciones</h2>
					<p><strong>Gracias por utilizar SUGU!!!</strong> Busca, edita o elimina registros del sistema con sólo unos cuantos clics...</p>
				</li>
                <div style="clear: both;">&nbsp;</div>
				<li>
					<h2>Acerca del sistema...</h2>
                    <p><strong>Este sistema llegó a ti gracias a</strong></p>
					<ul>
						<li><img id="logoAbout" src="../resources/images/logo-SIR.png" alt="" /></li>
                        <li><img id="nameAbout" src="../resources/images/SIR-nombre.png" alt="" /></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
  <p> © 2011 www.sugu.com. Basado en el diseño de <a href="http://www.nodethirtythree.com">nodethirtythree</a> y <a href="http://www.freecsstemplates.org">Free CSS Templates</a>. Modificado por SIR <img id="logoFooter" src="../resources/images/logo-SIR.png" alt="" /> Soluciones Integrales Roraima.</p>
</div>
<!-- end #footer -->
</body>
</html>
